<aside id="network">
  <header class="network-toolbar collapsed">
    <div class="field">
      <h1 class="network-logo column one">Symphony Network</h1>
      <nav class="network-nav column">
        <a href="http://www.getsymphony.com/" target="_blank">Community</a>
        <a href="{{ site.baseurl }}/" class="active">Documentation</a>
        <a href="http://symphonyextensions.com/" target="_blank">Extensions</a>
      </nav>
      <div class="get-symphony column">
        <span class="small-hide medium-hide">Get </span>Symphony 2.6.3
        <a href="https://github.com/symphonycms/symphony-2" class="icon-fork">Fork<span class="small-hide medium-hide"> on Github</span></a>
        <a href="https://github.com/symphonycms/symphony-2/archive/master.zip" class="icon-download"><span class="small-hide medium-hide">Download </span>ZIP</a>
      </div>
    </div>
  </header>
</aside>
