---
layout: default
sectionid: docs
---

<div class="field">
  <div class="column sidebar infobox">
    {% for collection in site.collections %}
      <h3>{{ collection.title }}</h3>
      <ul class="sidebar-links">
        {% for doc in collection.docs %}
            <li>
              <a href="{{ site.baseurl }}{{ doc.url }}"
                {% if doc.name == page.id %} class="active"{% endif %}>{{ doc.title }}</a>
            </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
  <div class="column content">
  
    <a class="edit-page-link" href="https://github.com/symphonycms/docs.getsymphony.com/tree/gh-pages/{{ page.relative_path }}" target="_blank">Edit on GitHub</a>
    {{ content }}
  </div>
</div>
