---
layout: default
---

<header class="site-header centered">
  <h1>
    <span>Symphony</span> Documentation
  </h1>
  
  <nav>
    <a href="{{ site.baseurl }}/getting-started/">Getting started</a>
    <a href="{{ site.baseurl }}/learn/">Learn</a>
  </nav>
  {% include search.html %}
</header>

<div class="field">


  <div class="column sidebar infobox">
    {% include nav-docs.html %}
  </div>

  <div class="column content">
    <a class="tools-right" href="https://github.com/symphonycms/docs.getsymphony.com/tree/gh-pages/{{ page.path }}" target="_blank">Edit on GitHub</a>

    <h2>{{ page.title }}</h2>
    <p class="content-introduction">{{ page.description }}</p>

    {% if page.version %}
      <p class="note version-aware">This features a previous version of Symphony ({{ page.version }}). The concepts it demonstrates still apply to the current version, and we have noted any changes below that affect the tutorial.</p>
    {% endif %}

    {% if page.headline %}
      <p class="content-introduction">{{ page.headline }}</p>
    {% endif %}

    {{ content }}
  </div>
</div>
