---
layout: default
---

{% include header.html %}

<div class="field">
  <div class="column content">
    <a class="tools-right" href="https://github.com/symphonycms/docs.getsymphony.com/tree/gh-pages/{{ page.path }}" target="_blank">Edit on GitHub</a>

    {% include nav-docs.html %}

    <!--
      Note: this is a temporary page. Will be a list of the pages that usualy is in the sidebar,
      but here with the short description below the title. Need a bit care with the styles.
    -->
  </div>
</div>
